@media (max-width: 992px) {
	.login-form-div {
		flex-direction: column;
		align-items: flex-start;
	}
	.login-form__input {
		margin-bottom: 10px;
	}
	.login-form {
		max-width: 300px;
  	}
	.login-form-main {
		transform: translateX(0);
  	}
}

@media (max-width: 576px) {
	.login {
		padding: 62px 0 80px;
  	}
	.login-form {
		max-width: 280px;
  	}
	.login-form__link {
		text-align: left;
	}
}